<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz0XFwt1ECg4jQv1P57YgmamSq5_AwU0s</string>
	<key>GCM_SENDER_ID</key>
	<string>573799890287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseNotification</string>
	<key>PROJECT_ID</key>
	<string>fir-notification-e5fc1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notification-e5fc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573799890287:ios:210a8b101f5a269c18fc9a</string>
</dict>
</plist>